APP_NAME=Japran
APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.japran.com

DB_CONNECTION=pgsql
DB_HOST=your-neon-host
DB_PORT=5432
DB_DATABASE=japran
DB_USERNAME=your-user
DB_PASSWORD=your-password

SANCTUM_STATEFUL_DOMAINS=admin.japran.com,japran.com
SESSION_DRIVER=cookie
